<div class="container">
  <ol class="breadcrumb">
    <li class="active">Productos</li>
  </ol>
  <h1>Editing Product</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @product %> |
  <%= link_to 'Back', products_path %>

</div>
